.header{
  background-color: black;
  ul{
    margin-bottom: 0;
  }
}
.header-icon:hover{
  transition: all 0.5s;
  color: rgb(111, 117, 204);
}
.logo{
  max-height: 50px;
}
.navber-color{
  box-shadow:  0 0 10px #beb4b4;
}
