<div class="container-fluid">
  <div class="parallax"></div>
  <div class="container-fluid mt-4 row justify-content-center">
    <div class="col-md-4 mb-3">
      <img src="../../image/pexels-chevanon-photography-302896.jpg" alt="story" class="img-fluid storyImg rounded mx-auto d-block">
    </div>
    <div class="col-md-4">
      <h4 class="text-center fw-bold">手工挑豆細心的挑豆，是不變的堅持</h4>
      <ul class="story-list my-3 text-center  ">
        <li class="fw-bolder">1、秉持慈悲心，堅持只做『好咖啡』</li>
        <li class="fw-bolder">2、只求做好，不求好做；只有更好，沒有最好。</li>
        <li class="fw-bolder">3、堅持咖啡的「健康」與「美味」必須並重。</li>
      </ul>
      <p class="fw-normal text-center">
        尋覓一段時光，啜飲家的溫馨氣息。<br>
        一個人愜意，兩個人面對面促膝，<br>
        天涯的旅人，在此落腳相聚。<br>
        是過客，也是歸人；聊遠方，吃在地。<br>
        品嚐杯裡的誠藝，尋味盤中的驚喜。<br>
        真心，如剛烘焙好的咖啡豆，<br>
        芳香濃郁，卻有長長的賞味期。<br>
        相逢何必曾相識，來場不散的筵席~<br>
        Home is…Vis a Vis with Heart !<br>
        旅途的故事待續，讓我們後會有期…
      </p>
    </div>
  </div>
</div>

