<div class="sloganBox" >
  <h2 data-aos="fade-up"
  data-aos-duration="1500"
  data-aos-once="true">稍等片刻的寧靜，就是如此簡單</h2>
  <div class="parallax"></div>
</div>
<div class="container-fluid ProductType my-5">
  <h2 class="fs-2 fw-bolder text-center mt-5 pb-4">商品列表</h2>
  <ul class="row justify-content-around">
    <li class="col-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
      <a class="nav-link fw-bolder" [routerLink]="['/product/coffee']">
        <img src="../../../image/coffee.jpg" alt="coffee" class="img-fluid img-thumbnail">
        <p>咖啡</p>
      </a>
    </li>
    <li  class="col-md-4" data-aos="fade-down" data-aos-duration="2000" data-aos-once="true">
      <a class="nav-link fw-bolder" [routerLink]="['/product/bread']">
        <img src="../../../image/bread.jpg" alt="bread" class="img-fluid img-thumbnail">
      </a>
    </li>
    <li  class="col-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
      <a class="nav-link fw-bolder" [routerLink]="['/product/dessert']">
        <img src="../../../image/de3.jpg" alt="dessert" class="img-fluid img-thumbnail">
      </a>
    </li>
  </ul>
</div>
