$font-color : #76554E;
.sloganBox{
  position: relative;
  h2{
    position: absolute;
    text-align: center;
    color:#FFFFFF;
    font-weight: 700;
    font-size:24px;
    line-height: 1.5;
    letter-spacing: 5px;
    background: rgba(0, 0, 0, 0.4);
    left:25%;
    top: 25%;
    width:50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
  }
}
@media(max-width:768px){
  .sloganBox{
    h2{
      font-size: 18px;
    }
  }
}
.parallax {
  background-image: url("../../../image/banner.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media(max-width:768px){
  .parallax {
    min-height: 200px;
  }
}
.ProductType{
    h2{
    position: relative;
    color: $font-color;
    &:before{
      content:'';
      border-bottom:5px double $font-color;
      position: absolute;
      width: 10%;
      left: 30%;
      top: 25%;
    }
    &:after{
      content:'';
      border-bottom:5px double $font-color;
      position: absolute;
      width: 10%;
      right: 30%;
      top: 25%;
    }
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
